* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.body {
  background: #f6b360;
  background: linear-gradient(180deg, #f6b360 0%, #feffff 60%); }

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  background-color: black; }

.div_header_titulo {
  text-align: center;
  color: white;
  margin-right: 10rem; }

.h1_firenze {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem; }

.h2_heladeria {
  font-family: 'DM Serif Display', serif;
  font-size: larger; }

.hd_header {
  height: 10px; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  align-items: center; }

.span_logo {
  font-size: small; }

.span_redes {
  font-size: small;
  margin-right: 1rem; }

.logo_footer {
  width: 100px;
  height: 100px; }

.icono {
  width: 40px;
  height: 40px; }

.footer_elemento2 {
  margin-right: 1rem; }

.main {
  padding: 3rem; }

.main_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem; }

.carousel, .carousel-inner {
  width: 640px;
  height: 480px;
  border-radius: 10px;
  margin-left: 1rem; }

.pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.apple {
  margin-top: 1rem; }

.google {
  margin-top: 0.5rem; }

.flex_inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.titulo_index {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin: 3rem; }

.parrafo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 5rem; }

.suscribirse {
  text-align: center;
  margin-bottom: 2rem; }
  .suscribirse__titulo {
    font-size: medium;
    color: brown; }
  .suscribirse__label {
    margin-left: 10rem;
    position: absolute; }
  .suscribirse__button {
    border-bottom: 1cm;
    margin-left: 2rem; }

.delivery {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem; }

.pedido_productos {
  margin-top: 2rem; }

.sammy_div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 760px;
  height: 250px; }

.sammy {
  width: 250px;
  height: 250px; }

.section_productos {
  margin-bottom: 2rem; }

.titulo_sabordelmes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 840px;
  height: 250px; }

.titulo_sabordelmes_estilo {
  width: 350px;
  padding: 20px;
  border: 3px solid black;
  background-color: mediumaquamarine; }

.pedido_sabordelmes {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.form_selecciona {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem; }

.select {
  margin-left: 5px; }

.btn {
  margin-left: 5px; }

.imagen_sabordelmes {
  width: 450px;
  height: 200px;
  margin-top: 2rem; }

.card-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.pedido_locales {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.titulo_locales {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 900px;
  height: 250px;
  text-decoration: underline;
  font-size: larger; }

.section_locales {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem; }

.local_palermo {
  width: 450px;
  height: 400px;
  border-radius: 5px; }

.local_belgrano {
  width: 450px;
  height: 400px;
  border-radius: 5px; }

.table {
  width: 600px;
  margin-top: 3rem;
  text-align: center; }

.table-responsive {
  display: flex;
  align-items: center;
  justify-content: center; }

.comentarios {
  margin-top: 1rem; }

.main__modificador {
  margin-top: 2rem; }

.button__modificador {
  margin-top: 1rem; }

.imagen_contacto {
  width: 350px;
  height: 350px; }

.form-control-lg {
  height: 200px; }

@media screen and (max-width: 768px) {
  .div_header_titulo {
    margin-right: 8rem; }
  .best_choice {
    width: 100px;
    height: 80px; }
  .carousel, .carousel-inner {
    width: 400px;
    height: 320px;
    border-radius: 10px;
    margin-left: 1rem; }
  .pedido {
    text-align: center;
    margin-left: 3rem; }
  .apple_media {
    width: 100px;
    height: 30px; }
  .google_media {
    width: 100px;
    height: 30px; }
  .marinero {
    width: 250px;
    height: 340px; }
  .sammy_div {
    margin-right: 4rem; }
  .sammy {
    width: 200px;
    height: 200px; }
  .pedido_sabordelmes {
    padding-left: 2rem; }
  .titulo_sabordelmes {
    width: 400px;
    font-size: medium;
    text-align: center;
    padding: 5px;
    margin-right: 0rem; }
  .div_locales1 {
    margin-right: 1rem; }
  .div_locales2 {
    margin-left: 1rem; }
  .local_palermo {
    width: 350px;
    height: 300px; }
  .local_belgrano {
    width: 350px;
    height: 300px; }
  .imagen_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px; } }

@media screen and (max-width: 576px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem; }
  .div_header_titulo {
    padding-left: 2rem; }
  .main {
    padding: 1rem; }
  .best_choice {
    width: 80px;
    height: 50px; }
  .carousel, .carousel-inner {
    width: 320px;
    height: 240x;
    border-radius: 10px;
    margin-right: 1.2rem;
    margin-left: 0.6rem; }
  .pedido {
    text-align: center;
    margin-left: 0.5rem;
    padding-right: 1rem; }
  .titulo_index {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 2rem; }
  .marinero {
    width: 200px;
    height: 280px; }
  .span_redes {
    display: none; }
  .span_logo {
    display: none; }
  .section_productos {
    display: flex;
    flex-direction: column; }
  .pedido_locales {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .titulo_locales {
    width: 400px;
    text-align: center;
    text-decoration: underline;
    font-size: larger;
    padding-left: 1rem; }
  .section_locales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .local_belgrano {
    margin-top: 3rem; }
  .imagen_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px; } }
