* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.body {
  background: #0ad4a1;
  background: linear-gradient(180deg, #0ad4a1 0%, #feffff 60%); }

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem; }

.div_header_titulo {
  text-align: center;
  margin-right: 10rem; }

.h1_firenze {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem; }

.h2_heladeria {
  font-family: 'DM Serif Display', serif;
  font-size: larger; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  align-items: center; }

.span_logo {
  font-size: small; }

.span_redes {
  font-size: small; }

.main {
  padding: 3rem; }

.titulo_index {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin: 3rem; }

.parrafo {
  margin-left: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 3rem;
  text-align: center; }

.suscribirse {
  text-align: center;
  margin-bottom: 2rem; }
  .suscribirse__titulo {
    font-size: medium;
    color: brown; }
  .suscribirse__label {
    margin-left: 10rem;
    position: absolute; }
  .suscribirse__button {
    border-bottom: 1cm;
    margin-left: 2rem; }

.titulo1_sabordelmes {
  text-align: center; }

.titulo2_sabordelmes {
  text-align: center; }

.helados {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(3, 200px);
  grid-template-areas: "opcion1 opcion2 opcion3";
  place-content: center;
  gap: 1rem; }

.opcion1 {
  grid-area: opcion1;
  width: 200px;
  height: 200px; }

.opcion2 {
  grid-area: opcion2;
  width: 200px;
  height: 200px; }

.opcion3 {
  grid-area: opcion3;
  width: 200px;
  height: 200px; }

.form_selecciona {
  display: flex;
  justify-content: center; }

.section_locales {
  display: flex;
  margin: 3rem; }

.local_belgrano {
  margin-left: 20rem; }

.local_palermo {
  margin-left: 5rem; }

.tabla {
  margin: 1rem;
  margin-left: 35rem;
  border-color: black;
  border-style: dashed; }

.comentarios {
  margin-top: 1rem; }

.main__modificador {
  margin-bottom: 6rem; }

.button__modificador {
  margin-top: 1rem; }

@media screen and (max-width: 480px) {
  .header {
    margin-top: 2rem; }
  .footer {
    display: flex;
    display: column; }
  .span_redes {
    display: none; }
  .span_logo {
    display: none; }
  .section_productos {
    display: flex;
    flex-direction: column;
    margin-left: 1rem; }
  .helados {
    display: grid;
    width: 450px;
    height: 300px;
    grid-template-columns: repeat(3, 150px);
    grid-template-areas: "opcion1 opcion2 opcion3";
    place-content: center;
    gap: 0px;
    margin-right: 0px;
    margin-left: 2rem; }
  .opcion1 {
    grid-area: opcion1;
    width: 100px;
    height: 100px; }
  .opcion2 {
    grid-area: opcion2;
    width: 100px;
    height: 100px; }
  .opcion3 {
    grid-area: opcion3;
    width: 100px;
    height: 100px; }
  .section_locales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px; }
  .local_belgrano {
    margin-left: 5rem;
    margin-top: 3rem; }
  .horarios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30rem; } }
