*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.body {
    background: rgb(246,179,96);
    background: linear-gradient(180deg, rgba(246,179,96,1) 0%, rgba(254,255,255,1) 60%);
}