.comentarios {
    margin-top: 1rem;
}

.main__modificador {
    margin-top: 2rem;
}

.button__modificador {
    margin-top: 1rem;
}

.imagen_contacto {
   width: 350px;
   height: 350px;
}

.form-control-lg {
    height: 200px;
}

