.footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    align-items: center;
}


.span_logo {
    font-size: small;
    
}

.span_redes {
    font-size: small;
    margin-right: 1rem;
    
}

.logo_footer {
    width: 100px;
    height: 100px;
}

.icono {
    width: 40px;
    height: 40px;
}

.footer_elemento2 {
    margin-right: 1rem;
}