.footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    align-items: center;
}


.span_logo {
    font-size: small;
    
}

.span_redes {
    font-size: small;
    
}