.section_locales {

    display: flex;
    margin: 3rem;
}

.local_belgrano {
    margin-left: 20rem;
}

.local_palermo {
    margin-left: 5rem;
}

.tabla {
    margin: 1rem;
    margin-left: 35rem;
    border-color: black;
    border-style:dashed;
}