.main {
    padding: 3rem;
}

.main_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
}

.carousel, .carousel-inner {
    width: 640px;
    height: 480px;
    border-radius: 10px;
    margin-left: 1rem;
}

.pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apple {
    margin-top: 1rem;
}

.google {
    margin-top: 0.5rem;
}

.flex_inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo_index {
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 3rem;
}
    

.parrafo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 5rem;
}

.suscribirse {
    text-align: center;
    margin-bottom: 2rem;
    
    &__titulo {
        font-size: medium;
        color: brown;
    }
    &__label {
        margin-left: 10rem; 
        position: absolute;
    }
    &__button {
        border-bottom: 1cm;
        margin-left: 2rem;
        
    }
}

