@media screen and (max-width:480px) {

    .header {
        margin-top: 2rem;
    }
    
    .footer {
        display: flex;
        display: column;
    }

    .span_redes {
        display: none;
    }

    .span_logo {
        display: none;
    }

    .section_productos{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

    }

    .section_locales {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .local_belgrano {
        margin-left: 5rem;
        margin-top: 3rem;
    }

    .horarios {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 30rem;
    }
}