@media screen and (max-width:480px) {
    .listado {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 16px;
        align-items: center;
        
    }
    
    .grid__galeria {

        display: grid;
        width: 450px;
        height: 450px;
       
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9"
        ;

        margin-left: 0px;

    }
    
    .item1 {
        grid-area: item1;
        width: 100px;
        height: 100px;
    }
    
    .item2 {
        grid-area: item2;
        width: 100px;
        height: 100px;
    }
    
    .item3 {
        grid-area: item3;
        width: 100px;
        height: 100px;
    }
    
    .item4 {
        grid-area: item4;
        width: 100px;
        height: 100px;
    }
    
    .item5 {
        grid-area: item5;
        width: 100px;
        height: 100px;
    }
    
    .item6 {
        grid-area: item6;
        width: 100px;
        height: 100px;
    }
    
    .item7 {
        grid-area: item7;
        width: 100px;
        height: 100px;
    }
    
    .item8 {
        grid-area: item8;
        width: 100px;
        height: 100px;
    }
    
    .item9 {
        grid-area: item9;
        width: 100px;
        height: 100px;
    }
    
    .footer {
        display: flex;
        display: column;
    }

    .span_redes {
        display: none;
    }

    .span_logo {
        display: none;
    }

    .helados {
        display: grid;
        width: 450px;
        height: 300px;
        grid-template-columns: repeat(3, 150px);
        grid-template-areas: 
        "opcion1 opcion2 opcion3"
        ;
        
        place-content: center;
        gap: 0px;
        margin-right: 0px;
        margin-left: 2rem;
        
    }
    
    .opcion1 {
        grid-area: opcion1;
        width: 100px;
        height: 100px;
    }
    
    .opcion2 {
        grid-area: opcion2;
        width: 100px;
        height: 100px;
    }
    
    .opcion3 {
        grid-area: opcion3;
        width: 100px;
        height: 100px;
    }
 
}

@media screen and (max-width:768px) {
    .grid__galeria {

        margin-left: 1rem;

    }


}