.delivery {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.pedido_productos {
    margin-top: 2rem;
}

.sammy_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 760px;
    height: 250px;
}

.sammy {
    width: 250px;
    height: 250px;
}

.section_productos {
    margin-bottom: 2rem;
}