.titulo_sabordelmes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 840px;
    height: 250px;
}

.titulo_sabordelmes_estilo {
    width:350px;
    padding:20px;
    border:3px solid rgb(0, 0, 0);
    background-color:mediumaquamarine;
    
}

.pedido_sabordelmes {
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.form_selecciona {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.select {
    margin-left: 5px;
}

.btn {
    margin-left: 5px;
}

.imagen_sabordelmes {
    width: 450px;
    height: 200px;
    margin-top: 2rem;
    
}

.card-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
